body {
    background: #e5f4d8;
}

.container {
  width: 95%;
  max-width: 1020px;
  margin: 0 auto;
  clear:both;
}

div#parent {
    display:flex;
    justify-content: center;
}

div#location {
max-width: 40%;
margin: 0 auto;
vertical-align:top;
}

div#hours {
max-width: 40%;
margin: 0 auto;
vertical-align:top;
}

figure img {
    display: block;
    margin: auto;
    max-width: 50%;
}

figcaption {
    text-align: center;
}

p {
font-size: 12pt;
font-weight: 400;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
margin: 0 40px;
}

div#parent ul li {
    max-width: 90%;
}

h2#location p {
    text-align: center;
    margin: 0;
    padding: 0;
}

h2#hours p {
    text-align: center;
    margin: 0;
    padding: 0;
}

h1#main-title {
font-size: 36pt;
font-weight: 600;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
text-align: center;
border-top: 3px solid #f5708d;
border-bottom: 3px solid #f5708d;
}

h2#location {
background-color: #f7ca9b;
font-size: 24pt;
font-weight: 800;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
padding: 15px 30px;
text-align: center;
}

h2#hours {
background-color: #bbdd9a;
font-size: 24pt;
font-weight: 800;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
padding: 15px 30px;
text-align: center;
}

h2#ticket {
background-color: #c1abf2;
font-size: 24pt;
font-weight: 800;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
padding: 15px 40px;
}

h2#price {
background-color: #94d5c1;
font-size: 24pt;
font-weight: 800;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
padding: 15px 40px;
}

h2#why {
background-color: #eeafc6;
font-size: 24pt;
font-weight: 800;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
padding: 15px 40px;
}

h2#days {
background-color: #9ab6ee;
font-size: 24pt;
font-weight: 800;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
padding: 15px 40px;
}

h2#traffic {
background-color: #f5708d;
font-size: 24pt;
font-weight: 800;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
padding: 15px 50px;
}

h2#misc {
background-color: #9ab6ee;
font-size: 24pt;
font-weight: 800;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
padding: 15px 50px;
}

h3 {
font-size: 16pt;
font-weight: 600;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
padding-left: 40px;
}

footer#page-footer {
    text-align: center;
    margin-top: 64px;
    background-color: #f5708d;
    padding: 32px 0;
    overflow: hidden;
    justify-content: center;
}

footer ul {
    text-align: center;
    display: inline-block;
    padding: 0;
}

footer ul li {
    list-style-type: none;
    font-size: 12pt;
    font-weight: 400;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

footer p {
    font-size: 12pt;
    font-weight: 400;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    padding-left: 0;
}

main ul li {
    list-style-type: square;
    font-size: 12pt;
    font-weight: 400;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    max-width: 70%;
    padding: 5px 0px 5px 40px;
    list-style-position: inside;
}

footer ul p {
    padding-top: 10px;
}