a#skip-link:hover {
  color:#00b4c5
}

h1#main-title {
  font-weight: 600;
  font-size: 30pt;
  background: #314ff0;
  color: white;
  text-align: center;
  font-family:Arial, Helvetica, sans-serif;
}

h1#article-title {
  background: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 20pt;
  color:#0b78e6;
  text-align: left;
  padding-left: 12px;
}

h2.article-section {
  font-size: 14pt;
  font-weight: 800;
  color:#0b78e6;
  padding-left: 12px;
}

p {
  font-family: calibri;
  color: #314ff0;
  padding-left: 12px;
}

.container {
  width: 95%;
  max-width: 1020px;
  margin: 0 auto;
}

figure {
  background: #00b4c5;
  padding: 15px;
  max-width: 300px;
  float: right;
}

@media all and (min-width: 811px) {
figure img {
  max-width: 100%;
  height: auto;
}
}

figcaption {
  color: Black;
  font-size: 16pt;
}

@media all and (min-width: 811px) {
p img {
  max-width: 100%;
  height: auto;
  float: left;
  background: #00b4c5;
  padding: 15px;
  margin: 30px;
}
}

p img,
figure img {
  max-width: 100%;
  height: auto;
}

p img {
  justify-content: center;
  margin-top: 12px;
}

nav ul {
  list-style-type: none;
  overflow:hidden;
  justify-content: space-evenly;
  text-align: center;
}

@media all and (min-width: 420px) {
Nav ul {
Display: flex;
Justify-content: center;
}
}

ul li {
  float:left;
}

ul li a {
  display:block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color:#314ff0;
}

header nav ul li a:hover {
  background-color: #00b4c5;
}

header nav {
  border-top: 2px solid #314ff0;
  border-bottom: 2px solid #314ff0;
}

footer#page-footer {
  text-align: center;
  padding: 32px 0;
  margin-top: 64px;
  background-color: #314ff0;
  color:white;
}

footer p {
  color: white;
}

footer nav {
  text-align: center;
  background-color: #314ff0;
  color:white;
}

footer nav ul li a{
  color:white;
}

footer nav ul li a:hover {  
  text-decoration: underline;
}