h1 {
  background: blue;
  color: white;
  text-align: center;
  font-family: arial;
  max-width: 500px;
}

p {
  font-family: calibri;
  color: #4e17f0;
  padding: 12px
}

figure {
background: gray;
  padding: 15px;
  max-width: 300px;
  float: right;
}

figcaption {
  color: blue;
}

p img {
  float: left;
  background: #4e17f0;
  padding: 15px;
  margin-right: 15px;
}

nav ul {
  background-color: lightblue;
  list-style-type: none;
  padding: 20px;
  border: 1px dotted darkblue;
  overflow:hidden;
}

ul li {
  float:left;
}

ul li a {
  display:block;
  color: darkblue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: lightpink;
}