a#skip-link:hover {
  color:#00b4c5
}

h1#main-title {
  font-weight: 600;
  font-size: 30pt;
  background: #314ff0;
  color: white;
  text-align: center;
  font-family:Arial, Helvetica, sans-serif;
}

h1#article-title {
  background: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 20pt;
  color:#0b78e6;
  text-align: left;
}

h2.article-section {
  font-size: 14pt;
  font-weight: 800;
}
p {
  font-family: calibri;
  color: #0b78e6;
  padding: 12px
}

.container {
  width: 95%;
  max-width: 1020px;
  margin: 0 auto;
}

figure {
  background: #00b4c5;
  padding: 15px;
  max-width: 300px;
  float: right;
}

figcaption {
  color: Black;
  font-size: 16pt;
}

p img {
  float: left;
  background: #00b4c5;
  padding: 15px;
  margin-right: 15px;
}

figure.main-image {
  background: white;
  max-width: 96%;
}

figure.section-image {
  float: left;
  background: #00b4c5;
  padding: 15px;
  margin-right: 15px;
}

nav ul {
  background-color: lightblue;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow:hidden;
  display: flex;
  justify-content: center;
}

ul li {
  float:left;
}

ul li a {
  display:block;
  color: #0b78e6;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #00b4c5;
}

nav ul {
  border: solid #0b78e6;
  border-width: 3px 0px;
}

footer nav {

}

footer#page-footer {
  text-align: center;
  padding: 32px 0;
  margin-top: 64px;
}

footer nav ul li a:hover {
  text-decoration: underline;
}