body {
    background: #b1e1ea;
}

h1#main-title {
    font-size: 36pt;
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    border-top: 3px solid #00899a;
    border-bottom: 3px solid #00899a;
}

.container {
  width: 95%;
  max-width: 1020px;
  margin: 0 auto;
  clear:both;
}

.pet-photos {
    display: inline-flex;
    padding: 10px;
    justify-content: center;
}

div.pet-photos figure {
    background-color: #f5403f;
    padding: 15px;
    max-width: 30%;
}

main ul li {
    list-style-type: none;
    font-size: 12pt;
    font-weight: 400;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    max-width: 70%;
    padding: 5px 0px 5px 40px;
    list-style-position: inside;
}

nav ul {
  list-style-type: none;
  overflow:hidden;
}

@media all and (min-width: 420px) {
Nav ul {
Display: flex;
Justify-content: center;
}
}

ul li {
  float: left;
  text-align: center;
}

ul li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

@media all and (max-width:419px) {
  ul li {
text-align: left;
float: none;
  }

 nav ul li a {
    text-decoration: none;
    text-align: left;
  }
}

header nav ul li a:hover {
  background-color: #f5403f;
}

header nav {
  border-top: 2px solid #00899a;
  border-bottom: 2px solid #00899a;
}