body {
    background-color: #b1e1ea;
}

h1#main-title {
font-size: 36pt;
font-weight: 600;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
text-align: center;
border-top: 3px solid #00899a;
border-bottom: 3px solid #00899a;
}

.container {
  width: 95%;
  max-width: 1020px;
  margin: 0 auto;
  clear:both;
}

figure.pet-photos {
    display: inline-block;
}

figure.pet-photos img {
    max-width: 20%;
}

main ul li {
    list-style-type: none;
    font-size: 12pt;
    font-weight: 400;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    max-width: 70%;
    padding: 5px 0px 5px 40px;
    list-style-position: inside;
}