body {
  background: #b1e1ea;
}

h1#main-title {
  font-size: 36pt;
  font-weight: 600;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  background-color: #00899a;
}

main p {
  font-size: 16pt;
  font-weight: 400;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
  width: 95%;
  max-width: 1020px;
  margin: 0 auto;
  clear:both;
}

.pet-photos {
  display: inline-flex;
  padding: 10px;
  justify-content: center;
  flex-wrap: wrap;
  max-height: 100vh;
}

@media all and (max-width: 1030px) and (min-width:615px) {
  .pet-photos {
    margin-bottom: 150px;
  }
}

@media all and (max-width: 615px) {
  .pet-photos {
    margin-bottom: 300px;
  }
}

div.pet-photos figure {
  background-color: #f5403f;
  padding: 10px;
  margin: 0 auto;
  flex-flow: column;
  border: solid 2px #7c0604;
}

.pet-photos figure img {
  max-width: 250px;
}

.pet-photos figcaption {
  text-align: center;
  font-size: 20pt;
  align-self: center;
}

main ul li {
  list-style-type: none;
  font-size: 12pt;
  font-weight: 400;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  max-width: 70%;
  padding: 5px 0px 5px 40px;
  list-style-position: inside;
}

nav ul {
  list-style-type: none;
  overflow:hidden;
}

@media all and (min-width: 420px) {
  Nav ul {
    Display: flex;
    Justify-content: center;
  }
}

ul li {
  float: left;
  text-align: center;
}

ul li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

@media all and (max-width:419px) {
  ul li {
    text-align: left;
    float: none;
  }
}

nav ul li a {
  text-decoration: none;
  text-align: left;
 }


header nav ul li a:hover {
  background-color: #f5403f;
}

header nav {
  border-top: 2px solid #00899a;
  border-bottom: 2px solid #00899a;
}

@media all and (min-width: 811px) {
  figure img {
    max-width: 100%;
    height: auto;
    padding: 10px;
    margin: 10px;
  }
}

figure img {
  max-width: 100%;
  height: auto;
  justify-content: center;
}

@media all and (min-width: 420px) {
  div figure {
    Display: flex;
    Justify-content: center;
  }
}

footer#page-footer {
    text-align: center;
    margin-top: 64px;
    background-color: #00899a;
    padding: 32px 0;
    overflow: hidden;
    justify-content: center;
    position: relative;
    height: 80px;
}

footer p {
    font-size: 12pt;
    font-weight: 400;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding-left: 0;
}