h1#main-title {

}

.container {
  width: 95%;
  max-width: 1020px;
  margin: 0 auto;
  clear:both;
}

figure.pet-photos {
    display: inline-block;
}

figure.pet-photos img {
    max-width: 30%;
}